@import 'tailwindcss';

@theme {
  --color-gymOrange: #FB6537;
  --color-gymBlack: #0A0A0A;
  --color-gymRest: #06B6D4;
  --font-condensed: 'Barlow Condensed', sans-serif;
}

body {
  @apply bg-gymBlack text-white antialiased;
  margin: 0;
  min-height: 100vh;
}
